---
layout: default
---

<style type="text/css">
	body {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.container {
		max-width: 800px;
	}
</style>

<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<h1 class="post-title" itemprop="name">{{ page.title }}</h1>
		<div class="sembunyi" itemprop='author'>Zen</div>
		<div class="sembunyi" itemprop='publisher'>Zen</div>
		<p class="post-meta sembunyi">
			<time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
		</p>
	</header>
	<img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=200&url=https://laptopzen.github.io/logo/{{ page.bahasa }}.png" class="pull-right logo-konten" alt="{{ page.bahasa }}" itemprop='image'>

	<article class="isi-postingan post-content" itemprop="articleBody">
		{{ content }}
	</article>

	<p><code>Jangan lupa follow blog ini <a href="https://t.me/mzaini30bot">di Telegram</a> juga ya...</code></p>
	<p><em>Untuk penawaran sponsorship dan kerja sama, silahkan hubungi <a href="mailto: muhzaini30@gmail.com">muhzaini30@gmail.com</a></em></p>
	<p><strong>Baca juga yuk:</strong></p>

	{% assign random = site.time | date: "%s" %}
	{% assign acak_judul = page.title.size %}
	{% assign angka_postingan = page.date | date: "%s" | plus: random | plus: acak_judul %}
	{% assign postingan_selanjutnya_1 = angka_postingan | modulo: site.posts.size %}
	{% assign postingan_selanjutnya_2 = angka_postingan | plus: 1 | modulo: site.posts.size %}
	{% assign postingan_selanjutnya_3 = angka_postingan | plus: 2 | modulo: site.posts.size %}

	<table class="table table-bordered">
		<tr data-link='{{ site.posts[postingan_selanjutnya_1].url | replace: '/', '' }}' class="tombol">
			<td><img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=70&url=https://laptopzen.github.io/logo/{{ site.posts[postingan_selanjutnya_1].bahasa }}.png" class="logo" alt=""></td>
			<td>{{ site.posts[postingan_selanjutnya_1].title }}</td>
		</tr>
		<tr data-link='{{ site.posts[postingan_selanjutnya_2].url | replace: '/', '' }}' class="tombol">
			<td><img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=70&url=https://laptopzen.github.io/logo/{{ site.posts[postingan_selanjutnya_2].bahasa }}.png" class="logo" alt=""></td>
			<td>{{ site.posts[postingan_selanjutnya_2].title }}</td>
		</tr>
		<tr data-link='{{ site.posts[postingan_selanjutnya_3].url | replace: '/', '' }}' class="tombol">
			<td><img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=70&url=https://laptopzen.github.io/logo/{{ site.posts[postingan_selanjutnya_3].bahasa }}.png" class="logo" alt=""></td>
			<td>{{ site.posts[postingan_selanjutnya_3].title }}</td>
		</tr>
	</table>


	<div id="disqus_thread"></div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/

	var disqus_config = function () {
	this.page.url = 'https://mzaini30.com{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};

	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://laptopzen.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

<div class="navbar navbar-fixed-bottom navbar-default">
  <div class="container">
	<table class="table table-bordered">
		<tr>
		  <td><a href="https://karyakarsa.com/checkout/2400" class="btn btn-success">Dukungan</a></td>
		  <td><a href="store" class="btn btn-success">Store</a></td>
		  <td><a href="https://t.me/mzaini30bot" class="btn btn-success">Follow</a></td>
		</tr>
	</table>
  </div>
</div>